################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vp-2048/.vs
/.vs/repos/v17
